/ Page Content
.container
  .row
    .col-lg-12.text-center
      %h1 Uptime
      %p.lead
        February 2017
  .row
    .col-lg-12.text-center
      = column_chart [[1, 18], [2, 24], [3, 24], ['S4', 24],
                      ['S5', 23], [6, 18], [7, 10], [8, 9], [9, 15], [10, 24], ["S11", 6.5],
                      ['S12', 23.75], [13, 19], [14, 24], [15, 24], [16, 24], [17, 24], ['S18', 24],
                      ['S19', 18.5], [20, 8], [21, 15], [22, 19], [23, 23], [24, 14], ['S25', 23],
                      ['S26', 14.5], [27, 15], [28, 24]],
                      label: 'duration',
                      min: 0,
                      max: 24
